@model dynamic

@{
    ViewBag.Title = "Process CSV";
}

<h2>Process CSV File</h2>
<div>
    <br>
    <select id="filesList">CSV Files</select>
    <button id="processCSV">ProcessCSV</button>
    <div id="csvDisplay"></div>
</div>